.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 25px 10px;
  border-top: 4px solid #e9573f;
  font-size: 15px;
  line-height: 1.6;
}

.footer p {
  margin: 6px 0;
}

.footer a {
  color: #ffb997;
  text-decoration: none;
  transition: 0.3s;
}

.footer a:hover {
  color: #ffffff;
}
